# Quick look up at the datasets

![Library](https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=80)

Photo by [IÃ±aki del Olmo](https://unsplash.com/@szmigieldesign) on [Unsplash](https://unsplash.com/@inakihxz)


Here you can find how to load quickly the dataset there are present in this repository. Check the specific notebook for more information on the dataset, plot ideas and analysis ideas

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Red and white dataset

Two datasets containing information about wine quality (red and white wine)

for classification and regression

In [5]:
red = "https://raw.githubusercontent.com/SalvatoreRa/tutorial/main/datasets/winequality-red.csv"
white = "https://raw.githubusercontent.com/SalvatoreRa/tutorial/main/datasets/winequality-white.csv"
red = pd.read_csv(red, sep = ";")
white = pd.read_csv(white, sep = ";")
white.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

# City dataset

a dataset about cities and countries, useful for geospatial analysis

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/SalvatoreRa/tutorial/main/datasets/worldcities.csv")
df.head()

      city city_ascii      lat  ...  capital  population          id
0    Tokyo      Tokyo  35.6897  ...  primary  37977000.0  1392685764
1  Jakarta    Jakarta  -6.2146  ...  primary  34540000.0  1360771077
2    Delhi      Delhi  28.6600  ...    admin  29617000.0  1356872604
3   Mumbai     Mumbai  18.9667  ...    admin  23355000.0  1356226629
4   Manila     Manila  14.6000  ...  primary  23088000.0  1608618140

[5 rows x 11 columns]

# Credit card fraud dataset

A dataset about credit card fraud dataset, a high imbalance dataset.

In [7]:
df = pd.read_csv("https://raw.githubusercontent.com/SalvatoreRa/tutorial/main/datasets/credit_card.csv", index_col=0)
df.head()

          Time        V1        V2        V3  ...       V27       V28  Amount  Class
116122   74244  0.987024 -1.326044  0.903681  ...  0.098271  0.025724  105.00      0
39488    39897  1.159796 -0.222744  1.126880  ...  0.012423  0.013990    9.90      0
218944  141694  2.164082 -1.581102 -1.248809  ...  0.048621 -0.079239   20.00      0
104161   69045 -0.639163  0.510206  1.907254  ...  0.096994  0.283884   18.14      0
117888   74960 -1.809917  1.100790 -0.271717  ... -0.409633 -0.187172    0.72      0

[5 rows x 31 columns]